<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <!-- kode link dibawah ini merupakan cara untuk menghilangkan favicon yang terbaca pada
  req.param pada route parameters di express.js-->
  <link rel="icon" href="data:,">
</head>

<body>
